<table class="table mt-4">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Contacto</th>
      <th>País</th>
      <th>Ciudad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers.slice((currentPage-1)*sizePage, sizePage*currentPage)">
      <td>{{ customer.customer_id }}</td>
      <td>{{ customer.company_name }}</td>
      <td>{{ customer.contact_name }}</td>
      <td>{{ customer.country }}</td>
      <td>{{ customer.city }}</td>
      <td class="d-flex gap-2">
        <a routerLink="details/{{customer.customer_id}}" class="btn btn-secondary">
          <i class="fa-solid fa-arrow-up-right-from-square me-2"></i>Ver detalle
        </a>
        <a routerLink="update/{{customer.customer_id}}" class="btn btn-info" [state]="customer">
          <i class="fa-solid fa-pen-to-square me-2"></i>Editar
        </a>
        <button class="btn btn-danger" (click)="onDelete(customer)">
          <i class="fa-solid fa-trash-can me-2"></i>Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="page-item"><button class="btn btn-primary" (click)="prevPage()" [disabled]="currentPage == 1">Previous</button></li>
    <li class="page-item ms-2"><button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage >= pages">Next</button></li>
  </ul>
</nav>
